.progress{
    margin-top: 10vh;
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.progress_text{
    font-family: 'Comfortaa Regular', Arial, sans-serif;
    font-size: 18pt;
    color: var(--text);
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    text-shadow: 0px 0px 6px var(--shadow);
}

.progress_bar{
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 85%;
    height: 15%;
    border-radius: 12px;
    background: linear-gradient(90deg, rgb(249, 253, 15), #cf0268, var(--element-bg) 0%);
    box-shadow: 0px 0px 5px 1px var(--separator);
}

.button_div{
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 2%;
}

.action{
    height: 6vh;
    width: 30%;
    margin-bottom: 4vh;
}

.action.hidden{
    display: none;
}

.action_button{
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 12px;
    background-color: var(--text);
    box-shadow: 0px 0px 7px 2px var(--separator);
    color: var(--element-bg);
    font-family: "Comfortaa Bold";
    font-size: 20pt;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}